@import './reset.scss';

.title {
  font-size: 20px;
  text-align: center;
  margin: 2% 0;
}
.mainContainer {
  padding: 2%;
  .graphsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
